body {
	margin-left: 20%;
	margin-right: 20%;
	padding: 20px;
	border: 20px solid #bdc3c7;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: justify;
}

.author {
	font-style: italic;
	color: #5e5f60;
	letter-spacing: 0px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

span {
	letter-spacing: 4px;
	color: #3498db;
}

h2 {
	color: #2c3e50;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 2px;
}

h3 {
	font-size: 1.2em;
}

.line {
	padding-left: 5px;
	border-left: 5px solid #bdc3c7;
}

div {
	margin-bottom: 20px;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
